configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{icon} {name}";
  show-icons: true;
  font: "DejaVu Sans Mono Nerd Font Complete Mono 13";
  modi: "window,run,drun";
}

@theme "~/.config/rofi/theme.rasi"

